.row {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 10px;
}
.routes {
  background: #28208C;
  color: #FFFFFF;
  width: 600px
}


@media only screen and (min-width: 600px) {

  .row {

    flex-direction: row;

  }

  .routes {
    width: 100%;
  }

}