.col {
    display: flex;
    flex-direction: column;
    border-color: #000000;
    border-style: solid;
    font-size: 30px;
    width: 250px;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}
.col a:hover {
    background: #000000;
}

.nav a {
    background: #28208C;
    color: #FFFFFF;
}